# permissions for end users to view valkeys.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: valkey-operator
    app.kubernetes.io/managed-by: kustomize
  name: valkey-viewer-role
rules:
  - apiGroups:
      - oxlayer
    resources:
      - valkeys
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - oxlayer
    resources:
      - valkeys/status
    verbs:
      - get
