name: Build

on:
  pull_request:

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
    # You can test your matrix by printing the current Go version
    - name: Display Go version
      run: go version
    - name: Build it
      run: make V=1
  build-operator-container:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
    - name: Build it
      run: make V=1
    - name: Extract metadata (Operator tags, labels) for Docker
      id: meta_operator
      uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96
      with:
        images: ${{ env.REGISTRY }}/hyperspike/valkey-operator:${{ github.sha }}
    - name: Build Operator image
      uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991
      id: docker_build_operator
      with:
        file: Dockerfile.controller
        context: .
        push: false
        visibility: public
        tags: ${{ steps.meta_operator.outputs.images }}
        labels: ${{ steps.meta_operator.outputs.labels }}
