name: Go Test

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v6
        with:
          go-version: 1.24
      # You can test your matrix by printing the current Go version
      - name: Display Go version
        run: go version
      - name: Test it!
        run: make V=1 test
